@model IEnumerable<Product>

<div id="shop">
                                                @*LEFT*@
    <div class="shop_left">
        <div class="left_section">
            <div class="section_content">
                <div class="cart">
                    <p>Cart</p>
                </div>
                <hr>
                <div class="cart_content">
                    <p>No products in your cart</p>
                </div>
            </div>
        </div>

        <div class="left_section">
            <div class="section_content">
                <div class="author">
                    <p>Author</p>
                </div>
                <hr>
                <div class="author_content">
                    <ul>
                        @foreach(var author in Model.Select(u => u.Author))
                        {
                            <li>
                                <input class="author_checkbox" type="checkbox" hidden>
                                <label class="author_name">@author</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="left_section">
            <div class="section_content">
                <div class="price">
                    <p>Price range</p>
                </div>
                <hr>
                <div class="price_content">
                    <div class="price_range">
                        <!-- tạo khoảng giao nhau của 2 nút -->
                        <div class="progress"></div>
                        <div class="range_input">
                            <input type="range" class="range_min" value="50000" min="50000" max="5000000" step="10000">
                            <input type="range" class="range_max" value="5000000" min="50000" max="5000000" step="10000">
                        </div>
                        <div class="range_text">
                            <div class="text_min">50.000</div>
                            <div class="text_max">5.000.000</div>
                        </div>
                        <div class="filter">
                            <input type="submit" value="FILTER">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                                @*CÁC SẢN PHẨM*@
    <ul class="navbar-nav flex-grow-1 float-end" id="product_order">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sắp xếp theo: 
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="dropdown-item">A &rarr; Z </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                    <a class="dropdown-item">Giá tăng dần</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                    <a class="dropdown-item">Giá giảm dần</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                    <a class="dropdown-item">Sách mới nhất</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                    <a class="dropdown-item">Sách cũ nhất</a>
                </li>
                <li><hr class="dropdown-divider"></li>
            </ul>
        </div>
    </ul>

    <div class="cacsanpham">
        @foreach (var product in Model)
        {
            <div class="sach" count_book_quantity="1" sum_cost="50.000 VND">
                <div class="sach_img" id="hover_for_img_product">
                    <img src="@product.ImageUrl" alt="Ảnh sách" class="card-img-top rounded" style="max-width:220px; height:300px"/>
                    <div class="hover_img_product d-flex justify-content-center align-items-center">
                        <ul class="d-flex justify-content-center align-items-center">
                            <li>
                                <a asp-action="Details" asp-route-id="@product.Id" class="icon_product eye d-flex justify-content-center align-items-center">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon_product icon_cart d-flex justify-content-center align-items-center">
                                    <i class="bi bi-cart-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sach_text">
                    <p id="author_name">@product.Author</p>
                    <p id="price">@product.ListPrice.ToString("c")</p>
                    <p id="state">In stock</p>
                </div>
            </div>    
        }
    </div>
</div>
<div class="benefit_shop d-flex justify-content-center align-items-center">
    <div class="return d-flex justify-content-center align-items-center">
        <div class="icon_benefit">
            <i class="bi bi-arrow-counterclockwise"></i>
        </div>
        <div class="text_benefit">
            <p>7 ngày miễn phí trả hàng</p>
            <p>Trả hàng miễn phí trong 7 ngày</p>
        </div>

    </div>
    <div class="authentic d-flex justify-content-center align-items-center">
        <div class="icon_benefit">
            <i class="bi bi-person-heart"></i>
        </div>
        <div class="text_benefit">
            <p>Hàng chính hãng 100%</p>
            <p>Đảm bảo hàng chính hãng hoặc</p>
            <p>hoàn tiền gấp đôi</p>
        </div>
    </div>
    <div class="freeship d-flex justify-content-center align-items-center">
        <div class="icon_benefit">
            <i class="bi bi-truck"></i>
        </div>
        <div class="text_benefit">
            <p>Miễn phí vận chuyển</p>
            <p>Giao hàng miễn phí toàn quốc</p>
        </div>
    </div>
</div>
<script src="~/js/shop.js" asp-append-version="true"></script>