@model IEnumerable<Sach>


@functions {
    public string Truncate(string noidung, int length)
    {
        if (noidung.Length < length)
        {
            return noidung;
        }
        else
        {
            return $"{noidung.Substring(0, length)}...";
        }
    }

    public string HienThiDongGia(decimal giaTien)
    {
        return giaTien.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"));
    }
}


<section id="sach_giam_gia_container">
    <div id="sach_giam_gia_background">
        <img src="~/img/web_img/flash-sale.png"/>
        <img src="~/img/web_img/flash-sale.png"/>
    </div>
    <div id="giam_gia_title">
        <p style="color: white" class="montserrat-bold">Giảm Giá Hot</p>
    </div>
    <div id="sach-list-section" style="z-index: 2">
        @foreach (var sach in Model)
        {
            <div class="book-item">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@sach.MaSach" title="@sach.TenSach">

                    <div class="book-image-container">
                        <img src="@sach.AnhBiaChinh" alt="Bìa sách @sach.TenSach">

                        <span class="sale-badge">-81%</span>
                    </div>

                    <div class="book-info">
                        <p class="book-title montserrat-regular">@sach.TenSach</p>
                        <div class="book-price">
                            <span class="sale-price">0 đ</span>
                            @*                             @if (sach.GiaGoc > 0)
                            {
                                <span class="original-price">@sach.GiaGoc.ToString("N0") đ</span>
                            } *@
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</section>

