@model SachTheoChuDeVM

@functions {
    public string Truncate(string noidung, int length)
    {
        if (noidung.Length < length)
        {
            return noidung;
        }
        else
        {
            return $"{noidung.Substring(0, length)}...";
        }
    }

    public string HienThiDongGia(decimal giaTien)
    {
        return giaTien.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"));
    }
}

@if(Model.DanhSachSach.TotalItemCount != 0)
{
    @foreach (Sach sach in Model.DanhSachSach)
    {
        <div class="book">
            <div class="book_img">
                <img src="~/img/product/@sach.AnhBiaChinh" alt="Ảnh sách @sach.AnhBiaChinh" />
                <div class="book_img_hover">
                    <ul class="book_icon_container">
                        <li>
                            <a href="@Url.Action("ChiTietSanPham", "Home", new { MaSach = sach.MaSach })" class="direct_detail_icon book_icon">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="direct_cart_icon book_icon" data-masach="@sach.MaSach">
                                <i class="bi bi-cart-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="ten_sach montserrat-regular">@Truncate(sach.TenSach, 15)</p>
            <p class="ten_tacgia montserrat-bold">@HienThiDongGia(sach.GiaBan)</p>
        </div>
    }
}
else
{
    <style>
        #sach-list-section{
            display: unset;
        }
    </style>

    <div class="empty-result-container">
        <div class="empty-icon">
            <i class="bi bi-search"></i>
        </div>

        <h3 class="empty-title montserrat-bold">
            Không tìm thấy kết quả
        </h3>

        <p class="empty-message montserrat-regular">
            Rất tiếc, không có cuốn sách nào phù hợp với tìm kiếm của bạn.
            Vui lòng thử lại với từ khóa khác.
        </p>

        <a asp-controller="Home" asp-action="Index" class="btn-back-to-home montserrat-bold">
            Quay về Trang chủ
        </a>
    </div>
}