@model SachTheoChuDeVM
@using X.PagedList
@using X.PagedList.Mvc.Core
@addTagHelper *, X.PagedList.Mvc.Core

@section PageStyles {
    <link rel="stylesheet" href="~/css/pages/sachtheochude.css" asp-append-version="true" />
}


<div id="sachtheochude_container">
    <p class="montserrat-medium">@ViewBag.Url</p>

    <div id="sachtheochude">
        <section id="sachtheochude_left">
            <form id="filterForm" data-chude-id="@Model.ChuDeHienTai.MaChuDe">
                <section id="same_category_books" class="filter-section">
                    <p class="sachtheochude_left_title montserrat-bold" id="">CHỦ ĐỀ TƯƠNG ỨNG</p>
                    <aside>
                        <a asp-controller="Home" asp-action="LayTatCaSach">Tất cả chủ đề</a>

                        <ul class="chude_item_root">
                            @await Html.PartialAsync("_ChuDeTuongUngPartial", Model.ChuDeHienTai)
                        </ul>

                    </aside>
                </section>

                <section id="price_filter" class="filter-section">
                    <p class="sachtheochude_left_title montserrat-bold" id="">GIÁ</p>
                        @foreach (var range in Model.PriceFilter.PriceRanges)
                        {
                            <div class="form-check mb-2 filter_section">
                                <input class="form-check-input price-filter"
                                       type="checkbox"
                                       name="priceRanges"
                                       value="@range.Id"
                                       id="@range.Id"
                                       @(Model.PriceFilter.SelectedRanges.Contains(range.Id) ? "checked" : "")>
                                <label class="form-check-label" for="@range.Id">
                                    @range.Label
                                </label>
                            </div>
                        }
                </section>

                <section id="nhaxuatban_filter" class="filter-section">
                    @await Html.PartialAsync("_NhaXuatBanFilterPartial", Model.DanhSachNhaXuatBan)
                </section>

                <section id="tacgia_filter" class="filter-section">
                    
                    @await Html.PartialAsync("_TacGiaFilterPartial", Model.DanhSachTacGia)
                </section>
            </form>
        </section>

        
        <section id="sachtheochude_right">
            @await Html.PartialAsync("_SachListPartial", Model.DanhSachSach)
        </section>
    </div>
</div>

@section Scripts {
    <script src="~/js/filtered_saches.js"></script>
}

