@model SachTheoChuDeVM
@using X.PagedList
@using X.PagedList.Mvc.Core
@addTagHelper *, X.PagedList.Mvc.Core
@section PageStyles {
    <link rel="stylesheet" href="~/css/pages/khachhang/sachtheochude.css" asp-append-version="true" />
}

@functions{
    public string Truncate(string noidung, int length)
    {
        if (noidung.Length < length)
        {
            return noidung;
        }
        else
        {
            return $"{noidung.Substring(0, length)}...";
        }
    }

    public string HienThiDongGia(decimal giaTien)
    {
        return giaTien.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"));
    }
}
<div id="sachtheochude_container">
    <p class="montserrat-medium">@ViewBag.Url</p>

    <div id="sachtheochude">
        <section id="sachtheochude_left">
            <section id="same_category_books">
                <p class="sachtheochude_left_title montserrat-bold" id="">CHỦ ĐỀ TƯƠNG ỨNG</p>
                <aside>
                    <a asp-controller="Home" asp-action="LayTatCaSach">Tất cả chủ đề</a>

                    <ul class="chude_item_root">
                        @await Html.PartialAsync("_ChuDeTuongUngPartial", Model.ChuDeHienTai)
                    </ul>

                </aside>
                        
            </section>

            <section id="price_filter">
                <p class="sachtheochude_left_title montserrat-bold" id="">GIÁ</p>
            </section>
            
            <section id="nhaxuatban_filter">
                <p class="sachtheochude_left_title montserrat-bold" id="">NHÀ XUẤT BẢN</p>
            </section>

            <section id="tacgia_filter">
                <p class="sachtheochude_left_title montserrat-bold" id="">TÁC GIẢ</p>
            </section>
        </section>
        <section id="sachtheochude_right">
            @foreach (Sach sach in Model.DanhSachSach)
            {
                <div class="book">
                    <div class="book_img">
                        <img src="@sach.AnhBiaChinh" alt="Ảnh sách" />
                        <div class="book_img_hover">
                            <ul class="book_icon_container">
                                <li>
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@sach.MaSach" class="direct_detail_icon book_icon">
                                        <i class="bi bi-eye-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="direct_cart_icon book_icon">
                                        <i class="bi bi-cart-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="ten_sach montserrat-regular">@Truncate(sach.TenSach, 15)</p>
                    <p class="ten_tacgia montserrat-bold">@HienThiDongGia(sach.GiaBan)</p>
                </div>
            }
        </section>
    </div>
</div>